/* You can add global styles to this file, and also import other style files */
/* @import '../node_modules/bootstrap/dist/css/bootstrap.min.css'; */

@import '../node_modules/font-awesome/css/font-awesome.min.css';

/* @import '../node_modules/bootswatch/dist/darkly/bootstrap.min.css';  */

@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import 'node_modules/bootstrap/dist/css/bootstrap.min.css'; 

@import "~@angular/material/prebuilt-themes/indigo-pink.css";   

@import "../node_modules/ag-grid/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid/dist/styles/ag-theme-balham.css";
@import "../node_modules/primeflex/primeflex.css";


@import "../node_modules/flatpickr/dist/flatpickr.css";
@import "../node_modules/angular-slickgrid/lib/multiple-select/multiple-select.css";
@import "../node_modules/angular-slickgrid/styles/css/slickgrid-theme-bootstrap.css";

@import "~ag-grid-community/dist/styles/ag-grid.css"; 
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/nova-dark/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");


body .ui-button.ui-button-icon-only .ui-button-text {
  padding: 0.1em !important;
}


.ui-widget-content {
  border: 0px !important;
}

.ui-dialog {
    
    

  
   -webkit-transform: translate3d(-50%, -51%, 0);
  -moz-transform: translate3d(-50%, -51%, 0);
  transform: translate3d(-50%, -51%, 0); 

  
    
  
   
  }

.slickgrid-container .slick-header-columns .slick-header-column{
  font-weight: 100 !important;
  font-size: 10px;

}




.mat-header-cell{
  font-size: 10px !important;
  background-color: #F9F9F9;
  color: #676a6c;
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: #DDDDDD;
  justify-content: center;
  

}
.mat-header-row{
  min-height : 36px;
}
.mat-cell{
  font-size: 11px ;
  padding: 0;
  overflow: hidden;
  justify-content: center
  
}


  .mat-table {
    overflow: auto;
    font-family: Verdana,Arial,sans-serif;
    font-size: 9.5px !important;
  
  }
  .mat-table mat-cell:first-child {
    padding-left: 5px;
    border-left: 1px solid;
    border-color: #DDDDDD;
 
  }
  .mat-table mat-cell:last-child {
    padding-right: 0px;
    border-right: 1px solid;
    border-color: #DDDDDD;
    
  }
  .mat-table mat-header-cell:first-child {
    padding-left: 5px;
    border-left: 1px solid;
    border-color: #DDDDDD;
  }
  .mat-table mat-header-cell:last-child {
    padding-right: 0px;
    border-right: 1px solid;
    border-color: #DDDDDD;
    
  }
  

.mat-table mat-cell {
  border-right: 1px solid;
  border-color: #DDDDDD;
}
.mat-row:nth-child(even){
    background-color:#ffffff;
}
.mat-row:nth-child(odd){
    background-color:#ffffff;
}
.mat-row {
  min-height: 24px !important;
}
.mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type{
  padding-left: 12px;
}


.buttons-div{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: right;
  padding-right: 20px;
}
.colorselect{
  background: #e8f0fe;
}
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: violet;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: darkcyan !important;
}

.fa-2x {
  font-size: 1.3em;
}

.btn-buttons {

  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 0px solid transparent;
  padding: 0.7692rem 0.75rem; 
  font-size: 1rem;
  line-height: 1.428571;
  border-radius: 2px;
  -webkit-transition: none;
  transition: none;
  cursor: pointer;
  margin-right: 10px;
}


.search-div{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: right;
    padding-right: 20px;
}
.search-form-field{
    width: 30%;
    
    margin-left: 10px;
    padding: 1px 1px;
    background-color: #ffffff ;
    border-radius: 1px;
    /* border-bottom: 1px solid #d9d9d9; */
    border-bottom: 1px solid #f5f5f5;
    font-size: 13px;
    }
    .search-form-field div.mat-form-field-underline {
        display: none;
    }
    .search-form-field div.mat-form-field-infix{
        border-top: 5px;
    }
    .search-form-field div.mat-form-field-wrapper{
    padding-bottom: 5px;
}
.search-form-field div.mat-form-field-suffix button{
    height: 32px;
    width: 32px;
}

       /* modal */
.danger-modal .modal-content {
    background-color: hsla(224, 64%, 42%, 0.911);
    color: white;
  } .btn-secondary  {
    background-color: white;
    color: black;
  }

  .dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #ea4335;
  }


       
  .mat-dialog-container {
    background-color: white;
    color: rgb(0, 0, 0);
  }
.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary 
{
  position: absolute !important; 
  top:40px !important; 
  left:-30px !important;
  z-index: 10000 !important;
  background: #fdd835 !important; 
  color: #000000 !important;
}

.mat-row:hover {
  background-color:#eeeeee;
}

div.dual-list div.listbox div.button-bar {
  display: none;
}

.mat-form-field-infix{
  width: 100% !important;
}

.button-div{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-left: 50px;
}

.label-info {
  background-color:#4c8bf5;
  background-repeat: repeat-x;
  color:#FFFFFF;
  padding: 0px 10px;
  font-weight: 40px;
  /* font-size: 13.5px; */
  

}

button.edit {
  opacity: 0;
} 

button.edit:hover {
  opacity: 1;
}
.mat-row:hover button.edit { 
  opacity: 1;
}
/* table#mytableofrows tr td a.button { display:none;}
table#mytableofrows tr:hover td a.button { display:inline-block;} */

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #3a6998;
  border-radius: .25rem;
  cursor: pointer;
  
}
.breadcrumb-item.active {
  color: #ffffff;
  font-size: 20px;
}
.breadcrumb-item {
  color: #F9F9F9;
  font-size: 20px;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.6154rem;
  color: #ffffff;
  content: "-";
}

.rappi-credits-total {
  text-align: center;
  padding: 20px;
  margin: 20px 20px 0;
  border-radius: 4px;
  background-image: linear-gradient(262deg,#1ec69f,#45d482);
}

